* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  font: 16px Helvetica, Arial;
  height: 100%;
}

#sendform {
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 80%;
}

#sendform input {
  border: solid;
  padding: 10px;
  width: 95%;
  border-radius: 20px;
  margin-right: .25%;
  border-width: 1px;
}

#sendform button {
  width: 4%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px 0px 10px 0px;
  border-radius: 20px;
}

#messages {
  list-style-type: none;
  height: 95%;
  overflow: scroll; 
  flex: 4;
}

#messages li {
  padding: 5px 10px;
  padding-left: 30px
}

#messages li:nth-child(odd) {
  background: #eee;
}

#online {
  margin-left: auto;
  flex: 1;
  list-style: none;
}

#online li{
  margin-left: 25px;
}

#innermsg {
  padding-left: 20px;
}

#login {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

#update {
  text-align: center;
  vertical-align: middle;
}

.mainwrapper {
  display: none;
  flex-direction: row;
}
